<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div id="clientForm">
    <form method="post" action="clientForm">
        <input type="text" placeholder="Surname" name="surname">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Patronymic" name="patronymic">
        <input type="date" name="birthDate" value="1999-07-22" min="1900-01-01" max="2100-12-31">
        <select name="gender" id="gender">
            <option value="NONE">NONE</option>
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
        </select>
        <input type="text" placeholder="Email" name="email">
        <input type="submit" value="ADD" id="submitButton">
    </form>
</div>
<div id="clientsTable">
   <table>
       <tr>
           <th>ID</th>
           <th>Surname</th>
           <th>Name</th>
           <th>Patronymic</th>
           <th>BirthDate</th>
           <th>Gender</th>
           <th>Email</th>
       </tr>
       {{#clients}}
           <tr>
               <td>{{id}}</td>
               <td>{{surname}}</td>
               <td>{{name}}</td>
               <td>{{patronymic}}</td>
               <td>{{birthDate}}</td>
               <td>{{gender}}</td>
               <td>{{email}}</td>
               <td>
                   <form action="clientUpdate" method="post">
                       <input type="hidden" name="id" value="{{id}}">
                       <input type="submit" value="&#8942;">
                   </form>
               </td>
           </tr>
       {{/clients}}
   </table>
</div>
</body>
</html>