<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Authorization</title>
	<th:block th:insert="~{fragments/headSettings::headSettings}"/>
</head>
<body>
<th:block th:insert="~{fragments/pageHeader::pageHeader}"/>
<div class="formDiv">
	<form method="post" action="authorizationForm" >
		<input type="text" name="username" placeholder="Login">
		<input type="password" name="password" placeholder="Password">
		<input type="button" name="cancel" value="Cancel">
		<input type="submit" value="Login" style="width: 100px">
	</form>
</div>
</body>
</html>