<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Clients</title>
	<th:block th:insert="~{fragments/headSettings::headSettings}"/>
</head>
<body>
<th:block th:insert="~{fragments/pageHeader::pageHeader}"/>
<div id="clientForm">
	<form method="post" th:action="@{/clientForm}">
		<input type="text" placeholder="Surname" name="surname">
		<input type="text" placeholder="Name" name="name">
		<input type="text" placeholder="Patronymic" name="patronymic">
		<input type="date" name="birthDate" value="1999-07-22" min="1900-01-01" max="2100-12-31">
		<select name="gender" id="gender">
			<option value="NONE">NONE</option>
			<option value="MALE">MALE</option>
			<option value="FEMALE">FEMALE</option>
		</select>
		<input type="text" placeholder="Email" name="email">
		<input type="submit" value="ADD" id="submitButton">
	</form>
</div>
<div id="clientsTable">
	<table>
		<tr>
			<th>ID</th>
			<th>Surname</th>
			<th>Name</th>
			<th>Patronymic</th>
			<th>BirthDate</th>
			<th>Gender</th>
			<th>Email</th>
		</tr>
		<tr th:each="client:${clients}">
			<td th:utext="${client.id}"></td>
			<td th:utext="${client.surname}"></td>
			<td th:utext="${client.name}"></td>
			<td th:utext="${client.patronymic}"></td>
			<td th:utext="${client.birthDate}"></td>
			<td th:utext="${client.gender}"></td>
			<td th:utext="${client.email}"></td>
			<td>
				<form method="post" th:action="@{/clientUpdateOpen}" >
					<input type="hidden" name="id" th:value="${client.id}">
					<input type="submit" value="&#8942;">
				</form>
			</td>
		</tr>
	</table>
</div>
</body>
</html>